body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
nav a{
  border: 1px solid transparent;
  padding: 5px;
  background: rgb(190, 187, 187);
}
#details{
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  background: red;
  margin-bottom: 20px;
}

